
<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;

        background: linear-gradient(to right, #757f9a, #d7dde8);

        margin: 0;
        padding: 0;
      }

      h1 {
        text-align: center;
        margin: 20px 0;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        background-color: #ffffff;
        padding: 10px;
        margin: 5px 0;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      span {
        margin-right: 10px;
      }

      button {
        background-color: #ff0000;
        color: #ffffff;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
      }

      p {
        text-align: center;
      }

      .cart-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }

      .empty-cart {
        text-align: center;
        color: white;
        margin: 20px 0;
      }
    </style>
  </head>
  <body>
    <div class="cart-container">
      <h1>Your Cart</h1>
      <% if (cartItems.length > 0) { %>
      <ul>
        <% for (const cartItem of cartItems) { %>
          <li>
            <span><%= cartItem.item %></span> -
            <span>Quantity: <%= cartItem.totalQuantity %></span> -
            <span>$<%= cartItem.totalPrice %></span>
            <form action="/cart/update/<%= cartItem._id %>" method="post">
              <div class="form-group">
                <input
                  type="number"
                  name="quantity"
                  value="<%= cartItem.totalQuantity %>"
                  min="1"
                  class="form-control"
                />
              </div>
              <button type="submit" class="btn btn-success">Add more</button>
            </form>
            <form action="/cart/remove/<%= cartItem._id %>" method="post">
              <button type="submit" class="btn btn-danger">Remove</button>
            </form>
          </li>
          <% } %>
          
      </ul>
      <p>Total Price: $<%= totalPrice %></p>
      <a href="/checkout" class="btn btn-primary">Proceed to Checkout</a>
      <!-- Added "Proceed to Checkout" button -->
      <% } else { %>
      <p class="empty-cart">Your cart is empty.</p>
      <% } %>
      <a href="/user">Back to Home</a>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
