<%- include('../../partials/user-navbar') %>
<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Checkout</h1>
  <h2>User Details</h2>

  <form action="/checkout" method="POST" onsubmit="return handlePaymentMethod()">
    <!-- Add any additional form fields as needed -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />

    <label for="address">Address:</label>
    <textarea id="address" name="address" required></textarea>

    <label for="paymentMethod">Payment Method:</label>
    <select id="paymentMethod" name="paymentMethod" required>
      
      <option value="cashOnDelivery">Cash on Delivery</option>
    </select>

    <input type="hidden" name="totalPrice" value="<%= totalPrice %>" />
    <% for (const cartItem of cartItems) { %>
      <input type="hidden" name="cartItems[]" value="<%= cartItem._id %>" />
    <% } %>
    <% if (cartItems.length > 0) { %>
    <ul>
      <% for (const cartItem of cartItems) { %>
      <li><%= cartItem.item %> - All Quantity: <%= cartItem.totalQuantity %> - Price: <%= cartItem.totalPrice %> .</li>
      <% } %>
    </ul>
    <p>Total Price: <%= totalPrice %></p>
    <button type="submit">Confirm Order</button>
    <% } else { %>
    <p>No items in the cart.</p>
    <button type="submit" disabled>Confirm Order</button>
    <% } %>
  </form>

  <script>
    function handlePaymentMethod() {
      var paymentMethod = document.getElementById("paymentMethod").value;
      if (paymentMethod === "bkash" || paymentMethod === "nagad") {
        window.location.href = "http://localhost:3000/user";
        return false; // Prevent form submission
      }
      return true; // Allow form submission for other payment methods
    }
  </script>
</body>
</html>

<style>
  body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(to right, #757f9a, #d7dde8);

}

h1, h2 {
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

</style>